<div id="footer" class="ui center aligned secondary segment">
	<div class="ui container">
		<a class="foot item">
			About
		</a>
		<a class="foot item">
			Privacy Policy
		</a>
	    <a class=" foot item">
			Contact Us
		</a>
		<div>
		<p class="ui foot item">COPYRIGHT<i class="copyright icon"></i>2006–2020 NOMAD</p>
		</div>
	</div>
</div>
</body>
</html>